{% extends 'base.html' %}

{% block title %}Должности{% endblock %}

{% block nav %}
<h2 class="welcome-title">Должности</h2>
<button class="unapproved-btn-back"> <a href="/directory/">Назад</a></button>
{% endblock %}

{% block content %}
 <div class="opasity-btn-container">
     <form action="/positions/add" method="post">
        <input type="text" name="rank" placeholder="Должность" required>
         <input type="text" name="salary" placeholder="Оклад" required>
         <input type="text" name="percent" placeholder="Процент" required>
        <button type="submit" class="add-entry-btn tooltip">✚</button>
    </form>
    <table class="table-data" id="table-data">
    <thead>
        <tr class="trow-head">
            <th class="trow-head-data">Должность<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Оклад<div class="resizer"></div>
            </th>
             <th class="trow-head-data">Процент<div class="resizer"></div>
            </th>
             <th class="trow-head-data">Действия<div class="resizer"></div>
            </th>

        </tr>
    </thead>
    <tbody class="table-body" id="table-body">

        {% for type in ranks %}
            <tr class="trow">
                <form action="/positions/edit/{{ type.id }}" method="post" style="display:inline;">
                <td class="tcol">
                        <input type="text" name="rank" value="{{ type.rank }}" required>
                    </td>
                    <td>
                        <input type="text" name="salary" value="{{ type.salary }}" required>
                    </td>
                    <td>
                        <input type="text" name="percent" value="{{ type.percent }}" required>
                        <button type="submit"  class="tcol-filter-edit"></button>
                    </td>
                 </form>
                <td class="tcol">
                    <form action="/positions/delete/{{ type.id }}" method="post" style="display:inline;">
                        <button type="submit" class="tcol-filter-delete" onclick="return confirm('Вы уверены, что хотите удалить эту запись?')"></button>
                    </form>
                </td>
            </tr>
            {% endfor %}

    </tbody>

</table>
 </div>
{% endblock %}