{% extends 'base.html' %}

{% block title %}Техника {% endblock %}

{% block nav %}
<h2 class="welcome-title">Техника</h2>
<button class="unapproved-btn-back"><a href="/directory/">Назад</a></button>
{% endblock %}

{% block content %}
<img src="/static/img/directory-categories-bg.jpg" class="img-bg" alt="фоновое изображение">
<div class="opasity-btn-container">
    <table class="table-data" id="table-data">
        <thead>
            <tr class="trow-head">
                <th class="trow-head-data">Позиция
                    <div class="resizer"></div>
                </th>
                <th class="trow-head-data">Название
                    <div class="resizer"></div>
                </th>
                <th class="trow-head-data">Тип техники
                    <div class="resizer"></div>
                </th>
                <th class="trow-head-data">Инвестор
                    <div class="resizer"></div>
                </th>
                <th class="trow-head-data">Отображать
                    <div class="resizer"></div>
                </th>
            </tr>
        </thead>
        <tbody class="table-body" id="table-body">

            <tr class="trow">
                <td class="tcol"></td>
                <td class="tcol"></td>
                <td class="tcol"></td>
                <td class="tcol"></td>
            </tr>

        </tbody>

    </table>
</div>
{% endblock %}