{% extends 'base.html' %}

{% block title %}Техника {% endblock %}

{% block nav %}
<h2 class="welcome-title">Категория техники</h2>
<button class="unapproved-btn-back"> <a href="/directory/">Назад</a></button>
{% endblock %}

{% block content %}
 <div class="opasity-btn-container">
    <table class="table-data" id="table-data">
    <thead>
        <tr class="trow-head">
            <th class="trow-head-data">Категория<div class="resizer"></div>
            </th>

        </tr>
    </thead>
    <tbody class="table-body" id="table-body">

        <tr class="trow">
            <td class="tcol"></td>
        </tr>

    </tbody>

</table>
 </div>
{% endblock %}