{% extends 'base.html' %}

{% block title %}Управление пользователями{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

<section class="small-table-container">
    <div class="header-smal-table">
        <h2>Управление пользователями</h2>
        <button onclick="openModal()" class="add-entry-btn tooltip">✚
            <span class="tooltip-text">Добавить пользователя</span>
        </button>
        <!--button onclick="loadUsers()">Обновить список</button-->
    </div>
    <table class="table-data">
        <thead>
            <tr>
                <th class="trow-head-data">ID</th>
                <th class="trow-head-data">Имя пользователя</th>
                <th class="trow-head-data">Роль</th>
                <th class="trow-head-data">Действия</th>
            </tr>
        </thead>
        <tbody id="userTable">
            {% for user in users %}
            <tr class="trow">
                <td class="tcol tcol-num">{{ user.id }}</td>
                <td class="tcol">{{ user.username }}</td>
                <td class="tcol">
                    <select onchange="updateUserRole({{ user.id }}, this.value)">
                        <option value="user" {% if user.role=='user' %}selected{% endif %}>User</option>
                        <option value="admin" {% if user.role=='admin' %}selected{% endif %}>Admin</option>
                    </select>
                </td>
                <td class="tcol-filter">
                    <button class="tcol-filter-delete" onclick="deleteUser({{ user.id }})"></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section class="big-table-container">
    <div class="header-big-table">
        <h2>Список пользователей бота</h2>
        <button onclick="openFormAddBot()" class="add-entry-btn tooltip">✚
            <span class="tooltip-text">Добавить пользователя</span>
        </button>
    </div>

    <table id="users_table" class="display table-data">
        <thead>
            <tr class="trow-head">
                <th class="trow-head-data vertical">Telegram</th>
                <th class="trow-head-data vertical">Имя</th>
                <th class="trow-head-data vertical">Инвестор</th>
                <th class="trow-head-data vertical">Директор</th>
                <th class="trow-head-data vertical">Менеджер</th>
                <th class="trow-head-data vertical">Инструктор</th>
                <th class="trow-head-data vertical">Ассистент</th>
                <th class="trow-head-data vertical">Отправить кнопки</th>
                <th class="trow-head-data vertical">Внести доход</th>
                <th class="trow-head-data vertical">Внести операцию</th>
                <th class="trow-head-data vertical">Смотреть отчет</th>
                <th class="trow-head-data vertical">Внести расход</th>
                <th class="trow-head-data vertical">Внести комиссию</th>
                <th class="trow-head-data vertical">Внести штраф</th>
                <th class="trow-head-data vertical">Изменить зарплату</th>
                <th class="trow-head-data vertical">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_tg %}
            <tr class="trow">
                <td class="tcol" contenteditable="true" data-user-id="{{ user.id }}" data-field="tg">{{ user.tg }}</td>
                <td class="tcol" contenteditable="true" data-user-id="{{ user.id }}" data-field="full_name">{{
                    user.full_name }}</td>
                <td class="tcol tcol-num"><input class="form-checkbox" type="checkbox" data-user-id="{{ user.id }}"
                        data-field="is_investor" {% if user.is_investor %}checked{% endif %}></td>
                <td class="tcol tcol-num"><input class="form-checkbox" type="checkbox" data-user-id="{{ user.id }}"
                        data-field="is_director" {% if user.is_director %}checked{% endif %}></td>
                <td class="tcol tcol-num"><input class="form-checkbox" type="checkbox" data-user-id="{{ user.id }}"
                        data-field="is_manager" {% if user.is_manager %}checked{% endif %}></td>
                <td class="tcol tcol-num"><input class="form-checkbox" type="checkbox" data-user-id="{{ user.id }}"
                        data-field="is_instructor" {% if user.is_instructor %}checked{% endif %}></td>
                <td class="tcol tcol-num"><input class="form-checkbox" type="checkbox" data-user-id="{{ user.id }}"
                        data-field="is_assistant" {% if user.is_assistant %}checked{% endif %}></td>
                <td class="tcol tcol-num"><input class="form-checkbox" type="checkbox" data-user-id="{{ user.id }}"
                        data-field="send_button" {% if user.send_button %}checked{% endif %}></td>
                <td class="tcol tcol-num"><input class="form-checkbox" type="checkbox" data-user-id="{{ user.id }}"
                        data-field="deposit_income" {% if user.deposit_income %}checked{% endif %}></td>
                <td class="tcol tcol-num"><input class="form-checkbox" type="checkbox" data-user-id="{{ user.id }}"
                        data-field="enter_operation" {% if user.enter_operation %}checked{% endif %}></td>
                <td class="tcol tcol-num"><input class="form-checkbox" type="checkbox" data-user-id="{{ user.id }}"
                        data-field="view_salary" {% if user.view_salary %}checked{% endif %}></td>
                <td class="tcol tcol-num"><input class="form-checkbox" type="checkbox" data-user-id="{{ user.id }}"
                        data-field="contribute_expense" {% if user.contribute_expense %}checked{% endif %}></td>
                <td class="tcol tcol-num"><input class="form-checkbox" type="checkbox" data-user-id="{{ user.id }}"
                        data-field="comission" {% if user.comission %}checked{% endif %}></td>
                <td class="tcol tcol-num"><input class="form-checkbox" type="checkbox" data-user-id="{{ user.id }}"
                        data-field="penalty" {% if user.penalty %}checked{% endif %}></td>
                <td class="tcol tcol-num"><input class="form-checkbox" type="checkbox" data-user-id="{{ user.id }}"
                        data-field="change_salary" {% if user.change_salary %}checked{% endif %}></td>
                <td class="tcol-filter">
                    <button class="tcol-filter-save" onclick="saveUser({{ user.id }})"></button>
                    <button class="tcol-filter-delete" onclick="deleteUserTG({{ user.id }})"></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <section id="form-new-user-bot" class="form-new-user-bot">

        <div class="form-header">
            <h3 class="form-title">Новый пользователь</h3>
            <button class="close-form-btn">✖</button>
        </div>

        <form action="/users_tg/add" method="POST" class="add-entry-form">

            <div class="form-part">
                <div class="form-element">
                    <label for="tg">Telegram</label>
                    <input type="text" id="tg" name="tg" class="middle-element" required>
                </div>

                <div class="form-element">
                    <label for="full_name">Имя</label>
                    <input type="text" id="full_name" name="full_name" class="middle-element" required>
                </div>
            </div>

            <div class="form-part">
                <div class="form-element">
                    <div class="form-element-row">
                        <input type="checkbox" id="is_investor" name="is_investor" class="form-checkbox">
                        <label for="is_investor">Инвестор</label>
                    </div>

                    <div class="form-element-row">
                        <input type="checkbox" id="is_director" name="is_director" class="form-checkbox">
                        <label for="is_director">Директор</label>
                    </div>

                    <div class="form-element-row">
                        <input type="checkbox" id="is_manager" name="is_manager" class="form-checkbox">
                        <label for="is_manager">Менеджер</label>
                    </div>

                    <div class="form-element-row">
                        <input type="checkbox" id="is_instructor" name="is_instructor" class="form-checkbox">
                        <label for="is_instructor">Инструктор</label>
                    </div>

                    <div class="form-element-row">
                        <input type="checkbox" id="is_assistant" name="is_assistant" class="form-checkbox">
                        <label for="is_assistant">Ассистент</label>
                    </div>

                    <div class="form-element-row">
                        <input type="checkbox" id="send_button" name="send_button" class="form-checkbox">
                        <label for="send_button">Отправить кнопки</label>
                    </div>

                    <div class="form-element-row">
                        <input type="checkbox" id="deposit_income" name="deposit_income" class="form-checkbox">
                        <label for="deposit_income">Внести доход</label>
                    </div>
                </div>

                <div class="form-element">
                    <div class="form-element-row">
                        <input type="checkbox" id="enter_operation" name="enter_operation" class="form-checkbox">
                        <label for="enter_operation">Внести операцию</label>
                    </div>

                    <div class="form-element-row">
                        <input type="checkbox" id="view_salary" name="view_salary" class="form-checkbox">
                        <label for="view_salary">Смотреть отчет</label>
                    </div>

                    <div class="form-element-row">
                        <input type="checkbox" id="contribute_expense" name="contribute_expense" class="form-checkbox">
                        <label for="contribute_expense">Внести расход</label>
                    </div>

                    <div class="form-element-row">
                        <input type="checkbox" id="comission" name="comission" class="form-checkbox">
                        <label for="comission">Внести комиссию</label>
                    </div>

                    <div class="form-element-row">
                        <input type="checkbox" id="penalty" name="penalty" class="form-checkbox">
                        <label for="penalty">Внести штраф</label>
                    </div>

                    <div class="form-element-row">
                        <input type="checkbox" id="change_salary" name="change_salary=" class="form-checkbox">
                        <label for="change_salary">Изменить зарплату</label>
                    </div>
                </div>
            </div>

            <input type="submit" value="Добавить" class="form-btn-submit align-end">

            <label for="chat_id">Идентификатор чата сотрудника (chat_id):</label>
            <input type="number" id="chat_id" name="chat_id"><br><br>

        </form>
    </section>
</section>


<section id="userModal" class="add-form-container access-new-site">
    <div class="form-header">
        <h3>Новый пользователь</h3>
        <span class="close-form-btn" onclick="closeModal()">✖</span>
    </div>
    <form id="createUserForm" class="add-entry-form">
        <div class="form-element">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-element">
            <label for="password">Пароль:</label>
            <input type="text" id="password" name="password" required>
        </div>
        <div class="form-element">
            <label for="role">Роль:</label>
            <select id="role" name="role">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <button type="submit" class="form-btn-submit align-end">Создать</button>
    </form>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#users_table').DataTable({
            paging: false,
            searching: false,
            info: false,
        });

        loadUsers();

        $('#createUserTgForm').on('submit', function (e) {
            e.preventDefault();

            const userData = {
                tg: $('#tg').val().trim(),
                full_name: $('#full_name').val().trim(),
                is_manager: $('#is_manager').is(':checked'),
            };

            $.ajax({
                url: '/create_user_tg/',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(userData),
                success: function (response) {
                    if (response.status === 'success') {
                        alert('User created successfully');
                        closeModal();
                        loadUsers();
                    } else {
                        alert('Error creating user');
                    }
                }
            });
        });
    });
    function openModal_tg() {
        document.getElementById('userModal_tg').style.display = 'block';
        document.getElementById('userModal_tg').classList.add('open');
    }
    function closeModal_tg() {
        document.getElementById('userModal_tg').style.display = 'none';
    }

    document.getElementById('createUserForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const role = document.getElementById('role').value;

        const formData = new FormData();
        formData.append('username', username);
        formData.append('password', password);
        formData.append('role', role);

        try {
            const response = await fetch('/register', {
                method: 'POST',
                body: formData
            });
            const result = await response.json();

            if (response.ok) {
                alert('User created successfully!');
            } else {
                alert(`Error: ${result.detail || 'Failed to create user'}`);
            }
        } catch (error) {
            alert(`Request failed: ${error.message}`);
        }
    });

    function saveUser(userId) {
        const row = $(`tr td:first-child:contains(${userId})`).closest('tr');

        const userData = {
            id: userId,
            tg: row.find('td[data-field="tg"]').text().trim(),
            full_name: row.find('td[data-field="full_name"]').text().trim(),
            is_manager: row.find('input[data-field="is_manager"]').is(':checked'),
            is_instructor: row.find('input[data-field="is_instructor"]').is(':checked'),
            is_assistant: row.find('input[data-field="is_assistant"]').is(':checked'),
            send_button: row.find('input[data-field="send_button"]').is(':checked'),
            deposit_income: row.find('input[data-field="deposit_income"]').is(':checked'),
            enter_operation: row.find('input[data-field="enter_operation"]').is(':checked'),
            view_salary: row.find('input[data-field="view_salary"]').is(':checked'),
            contribute_expense: row.find('input[data-field="contribute_expense"]').is(':checked'),
            is_director: row.find('input[data-field="is_director"]').is(':checked'),
            chat_id: row.find('td[data-field="chat_id"]').text().trim(),
            comission: row.find('input[data-field="comission"]').is(':checked'),
            penalty: row.find('input[data-field="penalty"]').is(':checked'),
            is_investor: row.find('input[data-field="is_investor"]').is(':checked'),
            change_salary: row.find('input[data-field="change_salary"]').is(':checked'),
        };

        // Отправляем AJAX запрос для сохранения данных
        $.ajax({
            url: '/update_user_tg/',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(userData),
            success: function (response) {
                if (response.status === 'success') {
                    alert('User updated successfully');
                } else {
                    alert('Error updating user');
                }
            }
        });
    }

    function deleteUserTG(userId) {
        const row = $(`tr td:first-child:contains(${userId})`).closest('tr');

        const userData = {
            id: userId,
            tg: row.find('td[data-field="tg"]').text().trim(),
            full_name: row.find('td[data-field="full_name"]').text().trim(),
            is_manager: row.find('input[data-field="is_manager"]').is(':checked'),
            is_instructor: row.find('input[data-field="is_instructor"]').is(':checked'),
            is_assistant: row.find('input[data-field="is_assistant"]').is(':checked'),
            send_button: row.find('input[data-field="send_button"]').is(':checked'),
            deposit_income: row.find('input[data-field="deposit_income"]').is(':checked'),
            enter_operation: row.find('input[data-field="enter_operation"]').is(':checked'),
            view_salary: row.find('input[data-field="view_salary"]').is(':checked'),
            contribute_expense: row.find('input[data-field="contribute_expense"]').is(':checked'),
            is_director: row.find('input[data-field="is_director"]').is(':checked'),
            chat_id: row.find('td[data-field="chat_id"]').text().trim(),
            comission: row.find('input[data-field="comission"]').is(':checked'),
            penalty: row.find('input[data-field="penalty"]').is(':checked'),
            is_investor: row.find('input[data-field="is_investor"]').is(':checked'),
            change_salary: row.find('input[data-field="change_salary"]').is(':checked'),
        };

        $.ajax({
            url: '/delete_user_tg/',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(userData),
            success: function (response) {
                if (response.status === 'success') {
                    alert('deleted updated successfully');
                } else {
                    alert('Error updating user');
                }
            }
        });
    }

    async function loadUsers() {
        const response = await fetch('/users/');
        const users = await response.json();
        const userTable = document.getElementById('userTable');

        userTable.innerHTML = ''; // Очищаем таблицу

        users.forEach(user => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${user.id}</td>
                <td>${user.username}</td>
                <td>
                    <select onchange="updateUserRole(${user.id}, this.value)">
                        <option value="user" ${user.role === 'user' ? 'selected' : ''}>User</option>
                        <option value="admin" ${user.role === 'admin' ? 'selected' : ''}>Admin</option>
                    </select>
                </td>
                <td>
                    <button onclick="deleteUser(${user.id})">Delete</button>
                </td>
            `;
            userTable.appendChild(row);
        });
    }

    async function updateUserRole(userId, newRole) {
        await fetch(`/users/${userId}`, {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ role: newRole })
        });
        alert('User role updated');
    }

    async function deleteUser(userId) {
        if (confirm('Are you sure you want to delete this user?')) {
            await fetch(`/users/${userId}`, { method: 'DELETE' });
            alert('User deleted');
            loadUsers(); // Перезагружаем список пользователей
        }
    }

    function openModal() {
        document.getElementById('userModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('userModal').style.display = 'none';
    }

    document.getElementById('createUserForm').addEventListener('submit', async function (e) {
        e.preventDefault();
        const username = document.getElementById('username').value;
        const role = document.getElementById('role').value;

        await fetch('/users/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ username, role })
        });

        closeModal();
        loadUsers();
    });

    window.onload = loadUsers;
</script>

{% endblock %}