{% extends 'base.html' %}

{% block title %}Справочник {% endblock %}

{% block nav %}
<h2 class="welcome-title">Справочник</h2>
{% endblock %}

{% block content %}
<section class="section-center unap-days-section">
    <!--<img src="/static/img/directory-bg.jpg" class="img-bg" alt="фоновое изображение">-->
    <div class="opasity-btn-container">
        <button type="submit" class="welcome-bth"><a href="/technique">Техника</a></button>
        <button type="submit" class="welcome-bth"><a href="/type_of_technique">Тип техники</a></button>
        <button type="submit" class="welcome-bth"><a href="/investors">Инвесторы</a></button>
        <button type="submit" class="welcome-bth"><a href="/type_of_payments">Типы оплаты</a></button>
        <button type="submit" class="welcome-bth"><a href="/sources_of_payments">Источники оплаты</a></button>
        <button type="submit" class="welcome-bth"><a href="/flight_routers">Маршруты</a></button>
        <button type="submit" class="welcome-bth"><a href="/operations">Операции</a></button>
        <button type="submit" class="welcome-bth"><a href="/types_of_expenses">Виды расходов</a></button>
        <button type="submit" class="welcome-bth"><a href="/expenses_categories">Категории расходов</a></button>
        <button type="submit" class="welcome-bth"><a href="/positions"> Должности</a></button>
        <button type="submit" class="welcome-bth"><a href="/commissions">Комисии</a></button>
        <button type="submit" class="welcome-bth"><a href="/swing_shift">Качели смена</a></button>
        <button type="submit" class="welcome-bth"><a href="/swing_reason">Качели причика</a></button>
        <button type="submit" class="welcome-bth"><a href="/air_balon_weather">Воздушный шар погода</a></button>
    </div>
</section>
{% endblock %}