{% extends 'base.html' %}

{% block title %}Справочник {% endblock %}

{% block nav %}
<h2 class="welcome-title">Справочник</h2>
{% endblock %}

{% block content %}
 <div class="opasity-btn-container">
     <button type="submit" class="welcome-bth">  <a href="/categories">Категории </a></button>
     <button type="submit" class="welcome-bth"><a href="/technique">Техника</a></button>
    <button type="submit" class="welcome-bth"><a href="/type_of_technique">Тип техники</a></button>
    <button type="submit" class="welcome-bth"><a href="/investors">Инвесторы</a></button>
    <button type="submit" class="welcome-bth"><a href="/type_of_payments">Типы оплаты</a></button>
    <button type="submit" class="welcome-bth"><a href="/sources_of_payments">Источники оплаты</a></button>
    <button type="submit" class="welcome-bth"><a href="/flight_routers">Маршруты</a></button>
    <button type="submit" class="welcome-bth"><a href="/operations">Операции</a></button>
     <button type="submit" class="welcome-bth"><a href="/types_of_expenses">Виды расходов</a></button>
    <button type="submit" class="welcome-bth"><a href="/expenses_categories">Категории расходов</a></button>
    <button type="submit" class="welcome-bth"><a href="/positions"> Должности</a></button>
    <button type="submit" class="welcome-bth"><a href="/commissions">Комисии</a></button>
 </div>
{% endblock %}