{% extends 'base.html' %}

{% block title %}Справочник {% endblock %}

{% block nav %}
<h2 class="welcome-title">Справочник</h2>
{% endblock %}

{% block content %}
 <div class="opasity-btn-container">
     <button type="submit" class="welcome-bth">  <a href="/categories">Категории </a></button>
     <button type="submit" class="welcome-bth"><a href="/technique">Техника</a></button>
    <button type="submit" class="welcome-bth">Тип техники</button>
    <button type="submit" class="welcome-bth">Инвесторы</button>
    <button type="submit" class="welcome-bth">Типы оплаты</button>
    <button type="submit" class="welcome-bth">Источники оплаты</button>
    <button type="submit" class="welcome-bth">Маршруты</button>
    <button type="submit" class="welcome-bth">Операции</button>
    <button type="submit" class="welcome-bth">Виды расходов</button>
    <button type="submit" class="welcome-bth">Категории расходов</button>
    <button type="submit" class="welcome-bth">Должности</button>
    <button type="submit" class="welcome-bth">Комисии</button>
 </div>
{% endblock %}