{% extends 'base.html' %}

{% block title %}Доходы{% endblock %}


{% block nav %}
<nav class="nav-container">
    <div class="add-entry-btn tooltip">✚
        <span class="tooltip-text">Добавить запись</span>
    </div>
    <form action="/filtered-income" method="get" class="nav-form-filter" id="filter-form">

        <select name="day" id="day" class="nav-select">
            <option value="">День</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>

        <select name="month" id="month" class="nav-select">
            <option value="">Месяц</option>
            <option value="1">Январь</option>
            <option value="2">Февраль</option>
            <option value="3">Март</option>
            <option value="4">Апрель</option>
            <option value="5">Май</option>
            <option value="6">Июнь</option>
            <option value="7">Июль</option>
            <option value="8">Август</option>
            <option value="9">Сентябрь</option>
            <option value="10">Октябрь</option>
            <option value="11">Ноябрь</option>
            <option value="12">Декабрь</option>
        </select>

        <select name="year" id="year" class="nav-select">
            <option value="">Год</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
        </select>

        <div class="reset-filter tooltip">
            <input class="reset-filter-btn" type="reset" value=""><!--✖-->
            <span class="tooltip-text">Сбросить фильтры</span>
        </div>
    </form>
</nav>
{% endblock %}


{% block content %}
<script>
    document.querySelectorAll('.nav-select').forEach(select => {
        select.addEventListener('change', function () {
            const day = document.getElementById('day').value;
            const month = document.getElementById('month').value;
            const year = document.getElementById('year').value;

            // Проверяем, что все поля заполнены
            if (day && month && year) {
                document.getElementById('filter-form').submit();
            }
        });
    });

</script>
<table class="table-data" id="table-data">
    <thead>
        <tr class="trow-head">
            <th class="trow-head-data">Дата<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Номер рейса<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Вид маршрута<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Вид техники<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Инструктор<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Скидка<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Предоплата<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Стоимость<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Вид оплаты<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Источник<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Примечание<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-filter"></th>
        </tr>
    </thead>
    <tbody class="table-body" id="table-body">
        {% for item in data %}
        <tr class="trow">
            <td class="tcol">{{ item.created_at }}</td>
            <td class="tcol tcol-num">{{ item.flight_number }}</td>
            <td class="tcol">{{ item.flight_name }}</td>
            <td class="tcol">{{ item.technique_name }}</td>
            <td class="tcol">{{ item.user_name }}</td>
            <td class="tcol tcol-num">{{ item.discount }}</td>
            <td class="tcol tcol-num">{{ item.prepayment }}</td>
            <td class="tcol tcol-num">{{ item.price }}</td>
            <td class="tcol">{{ item.payment_type }}</td>
            <td class="tcol">{{ item.source }}</td>
            <td class="tcol">{{ item.note }}</td>

            <!-- Здесь кнопки редактирования и удаления -->
            <td class="tcol tcol-filter">
                <!-- Кнопка для редактирования -->
                <button type="button" class="tcol-filter-edit" onclick="fillEditForm({
                    id: '{{ item.id }}',
                    flight_number: '{{ item.flight_number }}',
                    technique_id: '{{ item.technique_id }}',
                    price: '{{ item.price }}',
                    discount: '{{ item.discount }}',
                    prepayment: '{{ item.prepayment }}',
                    payment_type: '{{ item.payment_type }}',
                    source_id: '{{ item.source_id }}',
                    transfer: '{{ item.transfer }}',
                    note: '{{ item.note }}'
                })"></button>
                <!-- Форма для удаления -->
                <form action="/delete_flight/" method="post">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <button type="submit" class="tcol-filter-delete"></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<section id="add-form-container">

    <div class="form-header">
        <h2 class="form-title">Новая запись</h2>
        <button class="close-form-btn">✖</button>
    </div>

    <form action="/submit" method="POST" class="add-entry-form">

        <div class="form-part">
            <div class="form-element">
                <label for="date">Выбор даты</label>
                <input type="date" id="date" name="date" class="middle-element">
            </div>

            <div class="form-element">
                <label for="flight_id">Номер рейса</label>
                <input type="number" id="flight_id" name="flight_id" class="middle-element" required>
            </div>
        </div>

        <div class="form-element">
            <label for="type-of-route">Вид маршрута</label>
            <select name="type-of-route" id="type-of-route">
                <option selected disabled hidden></option>
                <option value="1">Малый маршрут</option>
                <option value="2">Белые водопады</option>
                <option value="3">Софийские водопады</option>
                <option value="4">Часовой маршрут</option>
                <option value="5">Пхия</option>
                <option value="6">Бездонное Озеро</option>
                <option value="7">Смотровые Дукки</option>
            </select>
        </div>

        <div class="form-part">
            <div class="form-element">
                <label for="technique_id">Вид техники</label>
                <select name="technique_id" id="technique_id" class="middle-element">
                    <option selected disabled hidden></option>
                    <option value="1">--вид1--</option>
                    <option value="2">--вид2--</option>
                    <option value="3">--вид3--</option>
                </select>
            </div>

            <div class="form-element">
                <label for="instructor">Инструктор</label>
                <select name="instructor" id="instructor" class="middle-element">
                    <option selected disabled hidden></option>
                    <option value="1">Ахматик</option>
                    <option value="2">Ибрашка</option>
                    <option value="3">Амир</option>
                    <option value="4">Мухаммад</option>
                    <option value="5">Ренат</option>
                    <option value="6">Назар</option>
                    <option value="7">Другой</option>
                </select>
            </div>
        </div>

        <div class="form-part">
            <div class="form-element">
                <label for="price">Стоимость</label>
                <input type="number" id="price" name="price" class="small-element" step="0.01" required>
            </div>

            <div class="form-element">
                <label for="discount">Скидка</label>
                <input type="number" id="discount" name="discount" class="small-element" step="0.01">
            </div>

            <div class="form-element">
                <label for="prepayment">Предоплата</label>
                <input type="checkbox" id="prepayment" name="prepayment" class="form-checkbox">
            </div>
        </div>

        <div class="form-part">
            <div class="form-element">
                <label for="payment_type_id">Вид оплаты</label>
                <select name="payment_type_id" id="payment_type_id" class="middle-element" required>
                    <option selected disabled hidden></option>
                    <option value="1">QR</option>
                    <option value="2">Наличные</option>
                    <option value="3">Перевод</option>
                    <option value="4">Постоплата</option>
                    <option value="5">Безнал</option>
                </select>
            </div>

            <div class="form-element">
                <label for="source_id">Источник</label>
                <select name="source_id" id="source_id" class="middle-element" required>
                    <option selected disabled hidden></option>
                    <option value="1">Интернет</option>
                    <option value="2">Поляна</option>
                    <option value="3">Инфо офис</option>
                    <option value="4">Отели</option>
                    <option value="5">Агенты</option>
                </select>
            </div>
        </div>

        <div class="form-element">
            <label for="note">Комментарий</label>
            <textarea id="note" name="note"></textarea>
        </div>


        <div class="form-btns">
            <input type="reset" class="form-btn-reset">
            <input type="submit" value="Добавить" class="form-btn-submit">
        </div>
    </form>
</section>

<section id="edit-form-container">
    <form action="/update_flight/" method="POST" class="edit-entry-form" id="edit-entry-form">
        <input type="hidden" id="edit-id" name="id">

        <input type="date" id="edit-date" name="date" class="">
        <input type="number" id="edit-flight_id" name="flight_number" class="tcol-num" required>

        <select name="type-of-route" id="edit-type-of-route">
            <option selected disabled hidden></option>
            <option value="1">Малый маршрут</option>
            <option value="2">Белые водопады</option>
            <option value="3">Софийские водопады</option>
            <option value="4">Часовой маршрут</option>
            <option value="5">Пхия</option>
            <option value="6">Бездонное Озеро</option>
            <option value="7">Смотровые Дукки</option>
        </select>

        <select name="technique_id" id="edit-technique_id" class="" required>
            <option selected disabled hidden></option>
            <option value="1">--вид1--</option>
            <option value="2">--вид2--</option>
            <option value="3">--вид3--</option>
        </select>

        <select name="edit-instructor" id="edit-instructor" class="">
            <option selected disabled hidden></option>
            <option value="1">Ахматик</option>
            <option value="2">Ибрашка</option>
            <option value="4">Амир</option>
            <option value="5">Мухаммад</option>
            <option value="6">Ренат</option>
            <option value="7">Назар</option>
            <option value="8">Другой</option>
        </select>

        <input type="number" id="edit-discount" name="discount" class="tcol-num" step="1">

        <div id="edit-checkbox-td" class="edit-checkbox-td">
            <input type="checkbox" id="edit-prepayment" name="prepayment" class="form-checkbox">
        </div>

        <input type="number" id="edit-price" name="price" class="tcol-num" step="1" required>

        <select name="payment_type" id="edit-payment_type" class="" required>
            <option value="QR">QR</option>
            <option value="Наличные">Наличные</option>
            <option value="Перевод">Перевод</option>
            <option value="Постоплата">Постоплата</option>
            <option value="Безнал">Безнал</option>
        </select>

        <select name="source_id" id="edit-source_id" class="" required>
            <option value="1">Интернет</option>
            <option value="2">Поляна</option>
            <option value="3">Инфо офис</option>
            <option value="4">Отели</option>
            <option value="5">Агенты</option>
        </select>

        <input id="edit-note" name="note">
        <input type="number" id="edit-transfer" name="transfer">

        <input type="submit" value="Сохранить" class="form-btn-edit">

    </form>
</section>

<section class="pagination">
    <p class="pagination-text">
        Page
        <span>{{ page }}</span>
        of
        <span>{{ total_pages }}</span>
    </p>
    <ul class="pagination-list">
        {% if page > 1 %}
        <li class="pagination-item"><a href="?page=1" class="pagination-link">&laquo;</a></li>
        <li class="pagination-item"><a href="?page={{ page - 1 }}" class="pagination-link">&lsaquo;</a></li>
        {% endif %}

        {% for p in range((page - 2) if page > 2 else 1, (page + 2) if page < total_pages - 1 else total_pages + 1) %}
            <li class="{% if p == page %}active{% endif %} pagination-item">
            <a href="?page={{ p }}" class="pagination-link">{{ p }}</a>
            </li>
            {% endfor %}

            {% if page < total_pages %} <li class="pagination-item"><a href="?page={{ page + 1 }}"
                    class="pagination-link">&rsaquo;</a></li>
                <li class="pagination-item"><a href="?page={{ total_pages }}" class="pagination-link">&raquo;</a></li>
                {% endif %}
    </ul>
</section>

{% endblock %}