{% extends 'base.html' %}

{% block title %}Доходы{% endblock %}


{% block nav %}
<nav class="nav-container">
    <div class="add-entry-btn tooltip" id="add-entry-btn-income" onclick="openFormAdd()">✚
        <span class="tooltip-text">Добавить запись</span>
    </div>
    <form action="/filtered-income" method="get" class="nav-form-filter" id="filter-form">

        <select name="day" id="day" class="nav-select">
            <option value="">День</option>
            {% for day in range(1, 32) %}
            <option value="{{ day }}">{{ day }}</option>
            {% endfor %}
        </select>

        <select name="month" id="month" class="nav-select">
            <option value="">Месяц</option>
            <option value="1">Январь</option>
            <option value="2">Февраль</option>
            <option value="3">Март</option>
            <option value="4">Апрель</option>
            <option value="5">Май</option>
            <option value="6">Июнь</option>
            <option value="7">Июль</option>
            <option value="8">Август</option>
            <option value="9">Сентябрь</option>
            <option value="10">Октябрь</option>
            <option value="11">Ноябрь</option>
            <option value="12">Декабрь</option>
        </select>

        <select name="year" id="year" class="nav-select">
            <option value="">Год</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
        </select>

        <div class="reset-filter tooltip">
            <input class="reset-filter-btn" type="reset" value=""><!--✖-->
            <span class="tooltip-text">Сбросить фильтры</span>
        </div>
    </form>
</nav>
{% endblock %}


{% block content %}
<script>
    document.querySelectorAll('.nav-select').forEach(select => {
        select.addEventListener('change', function () {
            const day = document.getElementById('day').value;
            const month = document.getElementById('month').value;
            const year = document.getElementById('year').value;

            // Проверяем, что все поля заполнены
            if (day && month && year) {
                document.getElementById('filter-form').submit();
            }
        });
    });

</script>
<table class="table-data" id="table-data">
    <thead>
        <tr>
            <th class="trow-head-data">Дата<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Номер рейса<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Вид маршрута<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Вид техники<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Инструктор<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Скидка<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Предоплата<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Стоимость<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Вид оплаты<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Источник<div class="resizer"></div>
            </th>
            <th class="trow-head-data">Примечание<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-filter"></th>
        </tr>
    </thead>
    <tbody class="table-body" id="table-body">
        {% for item in data %}
        <tr class="trow">
            <td class="tcol">{{ item.created_at }}</td>
            <td class="tcol tcol-num">{{ item.flight_number }}</td>
            <td class="tcol">{{ item.flight_name }}</td>
            <td class="tcol">{{ item.technique_name }}</td>
            <td class="tcol">{{ item.user_name }}</td>
            <td class="tcol tcol-num">{{ item.discount }}</td>
            <td class="tcol tcol-num">{{ item.prepayment }}</td>
            <td class="tcol tcol-num">{{ item.price }}</td>
            <td class="tcol">{{ item.payment_type }}</td>
            <td class="tcol">{{ item.source }}</td>
            <td class="tcol">{{ item.note }}</td>

            <!-- Здесь кнопки редактирования и удаления -->
            <td class="tcol tcol-filter">
                <!-- Кнопка для редактирования -->
                <button type="button" class="tcol-filter-edit" onclick="fillEditForm(this, {
                    id: '{{ item.id }}',
                    date: '{{ item.created_at }}',
                    flight_number: '{{ item.flight_number }}',
                    flight_name: '{{ item.flight_name }}',
                    technique_name: '{{ item.technique_name }}',
                    instructor: '{{ item.user_name }}',
                    price: '{{ item.price }}',
                    discount: '{{ item.discount }}',
                    prepayment: '{{ item.prepayment }}',
                    payment_type: '{{ item.payment_type }}',
                    source: '{{ item.source }}',
                    note: '{{ item.note }}'
                })"></button>
                <!-- Форма для удаления -->
                <form action="/delete_flight/" method="post">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <button type="submit" class="tcol-filter-delete"></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<section id="add-form-container" class="add-form-container">

    <div class="form-header">
        <h2 class="form-title">Новая запись</h2>
        <button class="close-form-btn">✖</button>
    </div>

    <form action="/submit" method="POST" class="add-entry-form">

        <div class="form-part">
            <div class="form-element">
                <label for="date">Выбор даты</label>
                <input type="datetime-local" id="date" name="date" class="middle-element">
            </div>

            <div class="form-element">
                <label for="flight_number">Номер рейса</label>
                <input type="number" id="flight_number" name="flight_number" class="middle-element" required>
            </div>
        </div>

        <div class="form-element">
            <label for="type-of-route">Вид маршрута</label>
            <select name="route_id" id="type-of-route">
                <option selected disabled hidden></option>
                {% for route_id, route_name in routes.items() %}
                <option value="{{ route_id }}">{{ route_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-part">
            <div class="form-element">
                <label for="technique_id">Вид техники</label>
                <select name="technique_id" id="technique_id" class="middle-element">
                    <option selected disabled hidden></option>
                    {% for technique_id, technique_name in techniques.items() %}
                    <option value="{{ technique_id }}">{{ technique_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-element">
                <label for="instructor_id">Инструктор</label>
                <select name="instructor_id" id="instructor_id" class="middle-element">
                    <option selected disabled hidden></option>
                    {% for user_id, user_name in users.items() %}
                    <option value="{{ user_id }}">{{ user_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-part">
            <div class="form-element">
                <label for="price">Стоимость</label>
                <input type="number" id="price" name="price" class="small-element" step="0.01" required>
            </div>

            <div class="form-element">
                <label for="discount">Скидка</label>
                <input type="number" id="discount" name="discount" class="small-element" step="0.01">
            </div>

            <div class="form-element">
                <label for="prepayment">Предоплата</label>
                <input type="checkbox" id="prepayment" name="prepayment" class="form-checkbox">
            </div>
        </div>

        <div class="form-part">
            <div class="form-element">
                <label for="payment_type_id">Вид оплаты</label>
                <select name="payment_type_id" id="payment_type_id" class="middle-element" required>
                    <option selected disabled hidden></option>
                    {% for pay_id, pay_name in payment_types.items() %}
                    <option value="{{ pay_id }}">{{ pay_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-element">
                <label for="source_id">Источник</label>
                <select name="source_id" id="source_id" class="middle-element" required>
                    <option selected disabled hidden></option>
                    {% for source_id, source_name in sources.items() %}
                    <option value="{{ source_id }}">{{ source_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-element">
            <label for="note">Комментарий</label>
            <textarea id="note" name="note"></textarea>
        </div>


        <div class="form-btns">
            <input type="reset" class="form-btn-reset">
            <input type="submit" value="Добавить" class="form-btn-submit">
        </div>
    </form>
</section>

<section id="edit-form-container">
    <form action="/update_flight/" method="POST" class="edit-entry-form" id="edit-entry-form">
        <input type="hidden" id="edit-id" name="id">

        <input type="datetime-local" id="edit-date" name="date" class="">
        <input type="number" id="edit-flight_id" name="flight_number" class="tcol-num" required>

        <select name="type-of-route" id="edit-type-of-route">
            {% for route_id, route_name in routes.items() %}
            <option value="{{ route_id }}">{{ route_name }}</option>
            {% endfor %}
        </select>

        <select name="technique_id" id="edit-technique_id" class="" required>
            {% for technique_id, technique_name in techniques.items() %}
            <option value="{{ technique_id }}">{{ technique_name }}</option>
            {% endfor %}
        </select>

        <select name="edit-instructor" id="edit-instructor" class="">
            {% for user_id, user_name in users.items() %}
            <option value="{{ user_id }}">{{ user_name }}</option>
            {% endfor %}
        </select>

        <input type="number" id="edit-discount" name="discount" class="tcol-num" step="1">

        <div id="edit-checkbox-td" class="edit-checkbox-td">
            <input type="checkbox" id="edit-prepayment" name="prepayment" class="form-checkbox">
        </div>

        <input type="number" id="edit-price" name="price" class="tcol-num" step="1" required>

        <select name="payment_type" id="edit-payment_type" class="" required>
            {% for pay_id, pay_name in payment_types.items() %}
            <option value="{{ pay_id }}">{{ pay_name }}</option>
            {% endfor %}
        </select>

        <select name="source_id" id="edit-source_id" class="" required>
            {% for source_id, source_name in sources.items() %}
            <option value="{{ source_id }}">{{ source_name }}</option>
            {% endfor %}
        </select>

        <input id="edit-note" name="note">

        <input type="submit" value="Сохранить" class="form-btn-edit">

    </form>
</section>

<section class="pagination">
    <p class="pagination-text">
        Page
        <span>{{ page }}</span>
        of
        <span>{{ total_pages }}</span>
    </p>
    <ul class="pagination-list">
        {% if page > 1 %}
        <li class="pagination-item"><a href="?page=1" class="pagination-link">&laquo;</a></li>
        <li class="pagination-item"><a href="?page={{ page - 1 }}" class="pagination-link">&lsaquo;</a></li>
        {% endif %}

        {% for p in range((page - 2) if page > 2 else 1, (page + 2) if page < total_pages - 1 else total_pages + 1) %}
            <li class="{% if p == page %}active{% endif %} pagination-item">
            <a href="?page={{ p }}" class="pagination-link">{{ p }}</a>
            </li>
            {% endfor %}

            {% if page < total_pages %} <li class="pagination-item"><a href="?page={{ page + 1 }}"
                    class="pagination-link">&rsaquo;</a></li>
                <li class="pagination-item"><a href="?page={{ total_pages }}" class="pagination-link">&raquo;</a></li>
                {% endif %}
    </ul>
</section>

{% endblock %}