{% extends 'base.html' %}

{% block title %}Доходы{% endblock %}


{% block nav %}
<nav class="nav-container">
    <div class="add-entry-btn tooltip" id="add-entry-btn-income" onclick="openFormAdd()">✚
        <span class="tooltip-text">Добавить запись</span>
    </div>
    <form action="/filtered-income" method="get" class="nav-form-filter" id="filter-form">
    <select name="day" id="day" class="nav-select">
        <option value="">День</option>
        {% for d in range(1, 32) %}
            <option value="{{ d }}" {% if day == d %}selected{% endif %}>{{ d }}</option>
        {% endfor %}
    </select>

        <select name="month" id="month" class="nav-select">
        <option value="">Месяц</option>
        <option value="1" {% if month == 1 %}selected{% endif %}>Январь</option>
        <option value="2" {% if month == 2 %}selected{% endif %}>Февраль</option>
        <option value="3" {% if month == 3 %}selected{% endif %}>Март</option>
        <option value="4" {% if month == 4 %}selected{% endif %}>Апрель</option>
        <option value="5" {% if month == 5 %}selected{% endif %}>Май</option>
        <option value="6" {% if month == 6 %}selected{% endif %}>Июнь</option>
        <option value="7" {% if month == 7 %}selected{% endif %}>Июль</option>
        <option value="8" {% if month == 8 %}selected{% endif %}>Август</option>
        <option value="9" {% if month == 9 %}selected{% endif %}>Сентябрь</option>
        <option value="10" {% if month == 10 %}selected{% endif %}>Октябрь</option>
        <option value="11" {% if month == 11 %}selected{% endif %}>Ноябрь</option>
        <option value="12" {% if month == 12 %}selected{% endif %}>Декабрь</option>
    </select>

    <select name="year" id="year" class="nav-select">
        <option value="">Год</option>
        {% for y in range(2020, 2027) %}
            <option value="{{ y }}" {% if year == y %}selected{% endif %}>{{ y }}</option>
        {% endfor %}
    </select>

   <div class="reset-filter tooltip">
    <a href="/income" class="reset-filter-btn">
        <button href="/income" type="button">Сбросить фильтры</button>
        <span class="tooltip-text">Сбросить фильтры</span>
    </a>
</div>
</form>
</nav>
{% endblock %}


{% block content %}
<script>
    document.querySelectorAll('.nav-select').forEach(select => {
    select.addEventListener('change', function () {
        document.getElementById('filter-form').submit();
    });
});

</script>
<table class="table-data" id="table-data">
    <thead>
        <tr>
            <th class="trow-head-data th-income">Дата<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Номер рейса<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Вид маршрута<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Вид техники<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Инструктор<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Скидка<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Предоплата<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Стоимость<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Вид оплаты<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Источник<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Примечание<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-filter th-income"></th>
        </tr>
    </thead>
    <tbody class="table-body" id="table-body">
        {% for item in data %}
        <tr class="trow">
            <td class="tcol" hidden>{{ item.id }}</td>
            <td class="tcol">{{ item.created_at }}</td>
            <td class="tcol tcol-num">{{ item.flight_number }}</td>
            <td class="tcol">{{ item.flight_name }}</td>
            <td class="tcol">{{ item.technique_name }}</td>
            <td class="tcol">{{ item.user_name }}</td>
            <td class="tcol tcol-num">{{ item.discount }}</td>
            <td class="tcol tcol-num">{{ item.prepayment }}</td>
            <td class="tcol tcol-num">{{ item.price }}</td>
            <td class="tcol">{{ item.payment_type }}</td>
            <td class="tcol">{{ item.source }}</td>
            <td class="tcol">{{ item.note }}</td>

            <!-- Здесь кнопки редактирования и удаления -->
            <td class="tcol tcol-filter">
                <button type="button" class="tcol-filter-edit"></button>
                <!-- Кнопка для редактирования -->


                <!-- Форма для удаления -->
                <form action="/delete_flight/" method="post">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <button type="submit" class="tcol-filter-delete"></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<section id="add-form-container" class="add-form-container">

    <div class="form-header">
        <h3 class="form-title">Новая запись</h3>
        <button class="close-form-btn">✖</button>
    </div>

    <form action="/submit" method="POST" class="add-entry-form">

        <div class="form-part">
            <div class="form-element">
                <label for="date">Выбор даты</label>
                <input type="date" id="date" name="date" class="middle-element">
            </div>

            <div class="form-element">
                <label for="flight_number">Номер рейса</label>
                <input type="number" id="flight_number" name="flight_number" class="middle-element" required>
            </div>
        </div>

        <div class="form-element">
            <label for="type-of-route">Вид маршрута</label>
            <select name="route_id" id="type-of-route">
                <option selected disabled hidden></option>
                {% for route_id, route_name in routes.items() %}
                <option value="{{ route_id }}">{{ route_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-part">
            <div class="form-element">
                <label for="technique_id">Вид техники</label>
                <select name="technique_id" id="technique_id" class="middle-element">
                    <option selected disabled hidden></option>
                    {% for technique_id, technique_name in techniques.items() %}
                    <option value="{{ technique_id }}">{{ technique_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-element">
                <label for="instructor_id">Инструктор</label>
                <select name="instructor_id" id="instructor_id" class="middle-element">
                    <option selected disabled hidden></option>
                    {% for user_id, user_name in users.items() %}
                    <option value="{{ user_id }}">{{ user_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-part">
            <div class="form-element">
                <label for="price">Стоимость</label>
                <input type="number" id="price" name="price" class="small-element" step="0.01" required>
            </div>

            <div class="form-element">
                <label for="discount">Скидка</label>
                <input type="number" id="discount" name="discount" class="small-element" step="0.01">
            </div>

            <div class="form-element">
                <label for="prepayment">Предоплата</label>
                <input type="checkbox" id="prepayment" name="prepayment" class="form-checkbox">
            </div>
        </div>

        <div class="form-part">
            <div class="form-element">
                <label for="payment_type_id">Вид оплаты</label>
                <select name="payment_type_id" id="payment_type_id" class="middle-element" required>
                    <option selected disabled hidden></option>
                    {% for pay_id, pay_name in payment_types.items() %}
                    <option value="{{ pay_id }}">{{ pay_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-element">
                <label for="source_id">Источник</label>
                <select name="source_id" id="source_id" class="middle-element" required>
                    <option selected disabled hidden></option>
                    {% for source_id, source_name in sources.items() %}
                    <option value="{{ source_id }}">{{ source_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-element">
            <label for="note">Комментарий</label>
            <textarea id="note" name="note"></textarea>
        </div>

        <div class="form-btns">
            <input type="reset" class="form-btn-reset">
            <input type="submit" value="Добавить" class="form-btn-submit">
        </div>
    </form>
</section>

<section id="edit-form-container" class="edit-form-container">
    <form action="/update_flight/" method="POST" class="edit-entry-form" id="edit-entry-form">
        <input type="hidden" id="edit-id" name="id">

        <input type="date" id="edit-date" name="date" class="">
        <input type="number" id="edit-flight_id" name="flight_number" class="tcol-num" required>

        <select name="type-of-route" id="edit-type-of-route">
            {% for route_id, route_name in routes.items() %}
            <option value="{{ route_id }}">{{ route_name }}</option>
            {% endfor %}
        </select>

        <select name="technique_id" id="edit-technique_id" class="" required>
            {% for technique_id, technique_name in techniques.items() %}
            <option value="{{ technique_id }}">{{ technique_name }}</option>
            {% endfor %}
        </select>

        <select name="edit-instructor" id="edit-instructor" class="">
            {% for user_id, user_name in users.items() %}
            <option value="{{ user_id }}">{{ user_name }}</option>
            {% endfor %}
        </select>

        <input type="number" id="edit-discount" name="discount" class="tcol-num" step="1">

        <div id="edit-checkbox-td" class="edit-checkbox-td">
            <input type="checkbox" id="edit-prepayment" name="prepayment" class="form-checkbox">
        </div>

        <input type="number" id="edit-price" name="price" class="tcol-num" step="1" required>

        <select name="payment_type" id="edit-payment_type" class="" required>
            {% for pay_id, pay_name in payment_types.items() %}
            <option value="{{ pay_id }}">{{ pay_name }}</option>
            {% endfor %}
        </select>

        <select name="source_id" id="edit-source_id" class="" required>
            {% for source_id, source_name in sources.items() %}
            <option value="{{ source_id }}">{{ source_name }}</option>
            {% endfor %}
        </select>

        <input id="edit-note" name="note">

        <input type="submit" id="submit_edit" value="Сохранить" class="form-btn-edit">

    </form>
</section>

<section class="pagination">
    <p class="pagination-text">
        Page
        <span>{{ page }}</span>
        of
        <span>{{ total_pages }}</span>
    </p>
    <ul class="pagination-list">
        {% if page > 1 %}
        <li class="pagination-item"><a href="?page=1" class="pagination-link">&laquo;</a></li>
        <li class="pagination-item"><a href="?page={{ page - 1 }}" class="pagination-link">&lsaquo;</a></li>
        {% endif %}

        {% for p in range((page - 2) if page > 2 else 1, (page + 2) if page < total_pages - 1 else total_pages + 1) %}
            <li class="{% if p == page %}active{% endif %} pagination-item">
            <a href="?page={{ p }}" class="pagination-link">{{ p }}</a>
            </li>
            {% endfor %}

            {% if page < total_pages %} <li class="pagination-item"><a href="?page={{ page + 1 }}"
                    class="pagination-link">&rsaquo;</a></li>
                <li class="pagination-item"><a href="?page={{ total_pages }}" class="pagination-link">&raquo;</a></li>
                {% endif %}
    </ul>
</section>

{% endblock %}