{% extends 'base.html' %}

{% block title %}Неподтверждённые записи за {{ day }}.{{ month }}.{{ year }}{% endblock %}

{% block nav %}
<div class="welcome-title">
    <h2>Неподтверждённые записи за {{ day }}.{{ month }}.{{ year }}</h2>
    <button onclick="openFormAdd()" class="add-entry-btn tooltip">✚
        <span class="tooltip-text">Добавить запись</span>
    </button>
</div>
<button class="unapproved-btn-back"> <a href="/unapproved-days">Назад</a></button>
{% endblock %}

{% block content %}

<table class="table-data" id="table-data">
    <thead>
        <tr class="trow-head">
            <th class="trow-head-data th-income">Номер рейса<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Название рейса<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Вид техники<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Пользователь<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Скидка<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Предоплата<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Стоимость<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Тип оплаты<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Источник<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-income">Примечание<div class="resizer"></div>
            </th>
            <th class="trow-head-data th-filter th-income"></th>
        </tr>
    </thead>
    <tbody class="table-body" id="table-body">
        {% for record in flights_techniques %}
        <tr class="trow">
            <td class="tcol" hidden>{{ record.id }}</td>
            <td class="tcol" hidden>{{ record.created_at }}</td>
            <td class="tcol tcol-num">{{ record.flight_number }}</td>
            <td class="tcol">{{ record.flight_name }}</td>
            <td class="tcol">{{ record.technique_name }}</td>
            <td class="tcol">{{ record.user_name }}</td>
            <td class="tcol tcol-num">{{ record.discount }}</td>
            <td class="tcol tcol-num">{{ record.prepayment }}</td>
            <td class="tcol tcol-num">{{ record.price }}</td>
            <td class="tcol">{{ record.payment_type }}</td>
            <td class="tcol">{{ record.source }}</td>
            <td class="tcol">{{ record.note }}</td>
            <td class="tcol tcol-filter">
                <button class="tcol-filter-edit"></button>

                <form action="/delete_unapproved/" method="post">
                    <input type="hidden" name="id" value="{{ record.id }}">
                    <input type="hidden" name="day" value="{{ day }}">
                    <input type="hidden" name="month" value="{{ month }}">
                    <input type="hidden" name="year" value="{{ year }}">
                    <button type="submit" class="tcol-filter-delete"></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<section id="edit-form-container">
    <form action="/update_flight/" method="POST" class="edit-entry-form" id="edit-entry-form">
        <input type="hidden" id="edit-id" name="id">

        <input type="date" id="edit-date" name="date" class="" hidden>
        <input type="number" id="edit-flight_id" name="flight_number" class="tcol-num" required>

        <select name="type-of-route" id="edit-type-of-route">
            {% for route_id, route_name in routes.items() %}
            <option value="{{ route_id }}">{{ route_name }}</option>
            {% endfor %}
        </select>

        <select name="technique_id" id="edit-technique_id" class="" required>
            {% for technique_id, technique_name in techniques.items() %}
            <option value="{{ technique_id }}">{{ technique_name }}</option>
            {% endfor %}
        </select>

        <select name="edit-instructor" id="edit-instructor" class="">
            {% for user_id, user_name in users.items() %}
            <option value="{{ user_id }}">{{ user_name }}</option>
            {% endfor %}
        </select>

        <input type="number" id="edit-discount" name="discount" class="tcol-num" step="1">

        <div id="edit-checkbox-td" class="edit-checkbox-td">
            <input type="checkbox" id="edit-prepayment" name="prepayment" class="form-checkbox">
        </div>

        <input type="number" id="edit-price" name="price" class="tcol-num" step="1" required>

        <select name="payment_type" id="edit-payment_type" class="" required>
            {% for pay_id, pay_name in payment_types.items() %}
            <option value="{{ pay_id }}">{{ pay_name }}</option>
            {% endfor %}
        </select>

        <select name="source_id" id="edit-source_id" class="" required>
            {% for source_id, source_name in sources.items() %}
            <option value="{{ source_id }}">{{ source_name }}</option>
            {% endfor %}
        </select>

        <input id="edit-note" name="note">

        <input type="submit" id="submit_edit" value="Сохранить" class="form-btn-edit">

    </form>
</section>

<section class="bottom">
    <form method="post" action="/approve-all">
        <input type="hidden" name="day" value="{{ day }}">
        <input type="hidden" name="month" value="{{ month }}">
        <input type="hidden" name="year" value="{{ year }}">
        <button type="submit" class="unapproved-days-btn">Одобрить все записи</button>
    </form>
</section>

<!--Добавленеие новой записи-->
<section id="add-form-container" class="add-form-container">

    <div class="form-header">
        <h3 class="form-title">Новая запись</h3>
        <button class="close-form-btn">✖</button>
    </div>

    <form action="/submit_unapproved" method="POST" class="add-entry-form">

        <div class="form-part">
            <div class="form-element">
                <label for="date">Выбор даты</label>
                <input type="date" id="date" name="date" class="middle-element">
            </div>

            <div class="form-element">
                <label for="flight_number">Номер рейса</label>
                <input type="number" id="flight_number" name="flight_number" class="middle-element" required>
            </div>
        </div>

        <div class="form-element">
            <label for="type-of-route">Вид маршрута</label>
            <select name="route_id" id="type-of-route">
                <option selected disabled hidden></option>
                {% for route_id, route_name in routes.items() %}
                <option value="{{ route_id }}">{{ route_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-part">
            <div class="form-element">
                <label for="technique_id">Вид техники</label>
                <select name="technique_id" id="technique_id" class="middle-element">
                    <option selected disabled hidden></option>
                    {% for technique_id, technique_name in techniques.items() %}
                    <option value="{{ technique_id }}">{{ technique_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-element">
                <label for="instructor_id">Инструктор</label>
                <select name="instructor_id" id="instructor_id" class="middle-element">
                    <option selected disabled hidden></option>
                    {% for user_id, user_name in users.items() %}
                    <option value="{{ user_id }}">{{ user_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-part">
            <div class="form-element">
                <label for="price">Стоимость</label>
                <input type="number" id="price" name="price" class="small-element" step="0.01" required>
            </div>

            <div class="form-element">
                <label for="discount">Скидка</label>
                <input type="number" id="discount" name="discount" class="small-element" step="0.01">
            </div>

            <div class="form-element">
                <label for="prepayment">Предоплата</label>
                <input type="checkbox" id="prepayment" name="prepayment" class="form-checkbox">
            </div>
        </div>

        <div class="form-part">
            <div class="form-element">
                <label for="payment_type_id">Вид оплаты</label>
                <select name="payment_type_id" id="payment_type_id" class="middle-element" required>
                    <option selected disabled hidden></option>
                    {% for pay_id, pay_name in payment_types.items() %}
                    <option value="{{ pay_id }}">{{ pay_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-element">
                <label for="source_id">Источник</label>
                <select name="source_id" id="source_id" class="middle-element" required>
                    <option selected disabled hidden></option>
                    {% for source_id, source_name in sources.items() %}
                    <option value="{{ source_id }}">{{ source_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-element">
            <label for="note">Комментарий</label>
            <textarea id="note" name="note"></textarea>
        </div>

        <div class="form-btns">
            <input type="reset" class="form-btn-reset">
            <input type="hidden" name="day" value="{{ day }}">
            <input type="hidden" name="month" value="{{ month }}">
            <input type="hidden" name="year" value="{{ year }}">
            <input type="submit" value="Добавить" class="form-btn-submit">
        </div>
    </form>
</section>

<!-- Пагинация -->
<!--div>
    {% if page > 1 %}
    <a href="?day={{ day }}&month={{ month }}&year={{ year }}&page={{ page - 1 }}&per_page={{ per_page }}">Previous</a>
    {% endif %}
    {% if page < total_pages %} 
    <a href="?day={{ day }}&month={{ month }}&year={{ year }}&page={{ page + 1 }}&per_page={{ per_page }}">Next</a>
        {% endif %}
</div-->
{% endblock %}