{% extends 'base.html' %}

{% block title %}Неподтверждённые записи{% endblock %}

{% block nav %}
<h2 class="welcome-title">Дни с неподтверждёнными записями</h2>
{% endblock %}

{% block content %}
<section class="section-center unap-days-section">
    <div class="opasity-btn-container">
        <ul>
            {% for day in days_with_unapproved %}
            <ul>
                <form method="get" action="/unapproved-records/">
                    <input type="hidden" name="day" value="{{ day.day }}">
                    <input type="hidden" name="month" value="{{ day.month }}">
                    <input type="hidden" name="year" value="{{ day.year }}">
                    <button type="submit" class="welcome-bth">Отобразить записи за {{ day.day }}.{{ day.month }}.{{
                        day.year }}</button>
                </form>
            </ul>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}