{% extends 'base.html' %}

{% block title %}Добро пожаловать{% endblock %}

{% block nav %}
<h2 class="welcome-title">Добро пожаловать, {{ username }}</h2>
{% endblock %}

{% block content %}

<section class="section-center welcome-section">
    <div class="opasity-btn-container">
        <button class="welcome-bth"> <a href="/unapproved-days"> На подтверждение </a> </button>
        <button class="welcome-bth"> <a href="/income">Доходы</a></button>
        {% if role == 'admin' %}
        <button class="welcome-bth"><a href="/users/">Доступ</a></button>
        {% endif %}
        <button class="welcome-bth">Справочник</button>
    </div>
</section>
{% endblock %}